<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h2>Edit Entry</h2>
    <ul>
        <% journal.forEach( el => { %>
            <% if (el._id == journalId) { %>
                <li class="journalEntry">
                    <form action="/edit/<%= el._id %>" method="POST">
                        <input type="text" value="<%= el.journalSubject %>" name="journalSubject">
                        <input type="date" value="<%= el.journalDate %>" name="journalDate">
                        <textarea name="journalEntry" cols="45" rows="6"><%= el.journalEntry %></textarea>
                        <button type="submit" class="confirm">Confirm</button>
                        <a href="/journal" class="cancel">Cancel</a>
                    </form>
                </li>
            <% } %>
        <% }) %>    
        </ul>
</body>