<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Welcome | Daily Diary</title>
</head>

<body>
  <main>
    <section class="hero is-fullheight has-background-warning-light">
      <div class="hero-body">
        <div class="container">
          <figure class="image center pb-6">
            <img class="login-logo" src="/images/logo-drk-g.svg">
          </figure>
          <div class="card ">
            <footer class="card-footer">
              <p class="card-footer-item is-size-4">
                <a href="/login"> Log In</a>
              </p>
              <p class="card-footer-item is-size-4">
                <a href="/signup"> Sign Up</a>
              </p>
            </footer>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

</html>