h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: rgb(173, 68, 68);
}
.not{
    text-decoration: underline;
}

textarea {
    width: 450px;
    height: 100px;
  }
  
  body{
    
    text-align: center;
  }

.login-logo {
  max-width: 250px;
  padding-bottom: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-fields {
    width: 450px;
    height: 300px;
    margin: 0 auto;
}
h3 {
    font-size: 1.8rem;
}
h5 {
    font-size: 1.2rem;
}
p {
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    width: 450px;
}
