h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: rgb(173, 68, 68);
}
.not{
    text-decoration: underline;
}

textarea {
    width: 450px;
    height: 100px;
  }
  
  body{
    
    text-align: center;
  }

.login-logo {
  max-width: 250px;
  padding-bottom: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}